<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>County Viewer</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <style>
            .imgbox {
                display: grid;
                height: 100%;
            }

            .center-fit {
                max-width: 100%;
                max-height: 100vh;
                margin: auto;
            }

            svg{
                display: block;
                margin: auto;
            }

            body{
                overflow: False;
            }

            image {
                width: 100%;
                height: 100%;
            }

            iframe {display: block; width: 100%; height: 100%; border: none;}
        </style>
    </head>

    <body>
        <div class="container" width="100%">
            {% block header %}<h2 class="text-center">County Map</h2>{% endblock %}
        </div>
        <div id="slow_warning" class="imgbox" style="display:none">
            <h4 class="text-center">
                Loading...
            </h4>
            <img class="center-fit" src="https://i.pinimg.com/originals/65/ba/48/65ba488626025cff82f091336fbf94bb.gif">
        </div>

        <form id="form_post" method="post" action="#">
            {% csrf_token %}
            <pre id="log_county">Selected Counties: </pre>
            <input id="county_names" type="text" name="county_names" value="" hidden>
            <input id="fips_ids" type="text" name="fips_ids" value="" hidden>
            <input id="submit_counties" name="submit_state_county_button" type="submit">
        </form>
        {% load static %}
        <object id="map" class="centerImage" style="height:100%;width:100%;" data="{% static 'USA_Counties_with_FIPS_and_names.svg' %}"  type="image/svg+xml">
            {% load static %}
            <img src="{% static 'USA_Counties_with_FIPS_and_names.svg' %}" />
        </object>

    </body>

    <script>
        map.onload = e => {
        const doc = map.getSVGDocument();
        color = "teal";

        doc.addEventListener('click', e => {
            log_text = doc.getElementById(e.target.id).getElementsByTagName("title")[0].innerHTML + "; ";
            fips_log = e.target.id + "; ";
            const prev = e.target.getAttribute("fill");
            data_fill = e.target.getAttribute("data-fill");
            if(e.target.id.includes("FIPS")){
                county_names.value += log_text;
                fips_ids.value += fips_log;
                log_county.textContent += log_text;

                const next = data_fill || color;
                if(next != color){
                    county_names.value = county_names.value.replaceAll(log_text, "");
                    fips_ids.value = fips_ids.value.replaceAll(fips_log, "");
                    log_county.textContent = log_county.textContent.replaceAll(log_text, "");
                }
                e.target.setAttribute('data-fill', prev);
                e.target.setAttribute('fill', next);
            }
        });
        };
    </script>

    <script>
        function show_slow_warning() {
          $("#slow_warning").show();
          $("#map").hide();
          $("#form_post").hide();
        }

        $(document).ready(function() {
          $('#submit_counties').click(function(){
            show_slow_warning();
          });
        });
    </script>
</html>
