<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'grid.css' %}">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage_css.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i&display=swap" rel="stylesheet">
    <title>Home Philosopher</title>
</head>

<body>
    <header>
        <nav>
            <div class="row">
                <ul class="header-nav">
<!--                    <li><a href=".">Homepage</a></li>-->
                    <li><a href="../county_mapper">County Mapper</a></li>
                </ul>
            </div>
        </nav>
        <div class="row pollution-text-box">
            <h1>Home Philosopher</h1>
            <h4 style="color:#d5dbdb;">Choose The Home You Deserve</h4>
        </div>
    </header>

</body>

</html>