<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>County Viewer</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <style>
            .centerImage {
                max-width: 90%;
                max-height: 90%;
                bottom: 0;
                left: 0;
                margin: auto;
                overflow: auto;
                right: 0;
                top: 0;
                -o-object-fit: contain;
                object-fit: contain;
            }

            image {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>

    <body>
        <div class="container" width="100%">
            {% block header %}<h3 class="text-center">County Map</h3>{% endblock %}
        </div>
        <div>
        <form method="post" action="#">
            {% csrf_token %}
            <input name="state_field" type="text" placeholder="state, e.g. OH, RI, HI, DC" maxlength="2" onkeyup="this.value = this.value.toUpperCase()" required><br>
            <input name="county_field" type="text" placeholder="county" onkeyup="this.value = this.value.toUpperCase()" required><br>
            <input name="submit_state_county_button" type="submit">
        </form>
        </div>

      {% if state_field %}
          <div class="text-center">State: {{ state_field }}</div>
          <div class="text-center">County: {{ county_field }}</div>
      {% endif %}

        {% load static %}
        <object data="{% static 'USA_Counties_with_FIPS_and_names.svg' %}"  type="image/svg+xml">
            {% load static %}
            <img src="{% static 'USA_Counties_with_FIPS_and_names.svg' %}" />
        </object>

    </body>
</html>
